/certs
config/local.conf
config/*.confc
.idea
working
chef/.kitchen
chef/aws.json
atlassian-ide-plugin.xml
.virtualenv
__pycache__
*.pyc
.coverage
*.egg-info
*.log
*.tmp
tags
*.html
coverage.xml
.ropeproject
.*.sw[a-z]
_build

node_modules
