<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
    <title>[The Open Permissions Platform] Please verify your email address.</title>
  </head>
  <body topmargin="100" leftmargin="0" marginheight="0" marginwidth="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #ffffff; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important" bgcolor="#fafafa">

    <table class="body" style="background: #ffffff; border-collapse: collapse; border-spacing: 0; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; height: 100%; line-height: 19px; margin: 0; padding: 10px; text-align: left; vertical-align: top; width: 100%" bgcolor="#fafafa">
      <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
        <td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word">
          <center style="min-width: 580px; width: 100%">

            <table class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 580px">
              <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-break: break-word" align="left" valign="top">

                  <table class="email-header" style="border-collapse: collapse; border-spacing: 0; margin-top: 20px; padding: 0; text-align: left; vertical-align: top; width: 100%">
                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                      <td class="center" align="center" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word" valign="top">
                        <center style="min-width: 580px; width: 100%">
                        </center>
                      </td>
                      <td class="expander" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-break: break-word" align="left" valign="top"></td>
                    </tr>
                  </table>

                  <table class="wrapper email-body" style="background: #ffffff; border-collapse: collapse; border-radius: 3px !important; border-spacing: 0; border: 1px solid #dddddd; box-shadow: 0 1px 3px rgba(0,0,0,0.05) !important; padding: 0; text-align: left; vertical-align: top" bgcolor="#ffffff">
                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                      <td class="text-pad" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-break: break-word" align="left" valign="top">

                        <div class="email-content" style="color: #333333; font-size: 14px; font-weight: normal; line-height: 20px; margin: 20px">

                          <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0 0 10px; padding: 0; text-align: left" align="left">
                            Hi <strong>{name}</strong>! Help us secure your Open Permissions Platform account by verifying your email address
                            (<a class="plaintext" href="{email}" style="color: #333333; text-decoration: none">{email}</a>).
                            This will let you receive notifications and password resets from The Open Permissions Platform.
                          </p>
                          
                          <!-- note: VML markup is fallback for Outlook 2007, 2010, and 2013; see http://buttons.cm/ -->
                          <div class="cta-button-wrap cta-button-wrap-centered" style="color: #ffffff; padding: 20px 0 33px; text-align: center" align="center">
                          <!--[if mso]>
                          <p style="line-height:0px;height:0;font-size:1px;margin:0;padding:0;">&nbsp;</p>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://services.copyrighthub.org/verify?id={user_id}&code={verification_hash}" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="8%" stroke="f" fillcolor="#4183C4">
                            <w:anchorlock/>
                            <center>
                          <![endif]-->
                          <a class="cta-button" href="{url_services_ui}/verify?id={user_id}&code={verification_hash}" style="-webkit-border-radius: 3px; -webkit-text-size-adjust: none; background: #D4CF23; border-radius: 3px; box-shadow: 0px 3px 0px #25588c; color: #ffffff; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; font-weight: bold; letter-spacing: normal; margin: 0 auto; padding: 12px 24px; text-align: center; text-decoration: none; width: auto !important">Verify email address</a>
                          <!--[if mso]>
                            </center>
                          </v:roundrect>
                          <![endif]-->
                          </div>
                          
                          
                          <hr style="background: #d9d9d9; border: none; color: #d9d9d9; height: 1px; margin: 10px 0 20px">
                          
                          <p class="email-text-small email-text-gray" style="color: #777777; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; font-weight: normal; line-height: 19px; margin: 0 0 10px; padding: 0; text-align: left" align="left">
                            Button not working? Paste the following link into your browser:<br>
                            <a href="{url_services_ui}/verify?id={user_id}&code={verification_hash}" style="color: #4183C4; text-decoration: underline">{url_services_ui}/verify?id={user_id}&code={verification_hash}</a>
                          </p>
                          
                          <p class="email-text-small email-text-gray" style="color: #777777; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left" align="left">
                            You&#8217;re receiving this email because you recently
                            created a new Open Permissions Platform account.
                            If this wasn&#8217;t you, please ignore this email.
                          </p>


                        </div>

                      </td>
                    </tr>
                  </table>

                  <table class="email-footer" style="border-collapse: collapse; border-spacing: 0; margin-bottom: 30px; padding: 0; text-align: left; vertical-align: top; width: 100%">
                    <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                      <td class="center" align="center" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word" valign="top">
                        <center style="min-width: 580px; width: 100%">
                          <div class="wordmark" style="margin-bottom: 25px; margin-top: 25px; text-align: center !important" align="center !important">
                            <a href="http://developer.openpermissions.org/"> 
                              <img class="center" src="https://s3-eu-west-1.amazonaws.com/opp-assets/images/logo.png" width=auto height="67" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: none; height: 67px; margin: 0 auto; outline: none; text-decoration: none; width: auto" align="none">
                            </a>
                          </div>
                          <p class="footer-text" style="color: #888888; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px; font-weight: normal; line-height: 1.5; margin: 0 0 10px; padding: 0; text-align: center" align="center">
                          Sent by <strong>The Open Permissions Platform</strong> Team.
                          </p>
                        </center>
                      </td>
                      <td class="expander" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-break: break-word" align="left" valign="top"></td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>

  </body>
</html>
